doctype 5
html
	head
		title= title
		- if(typeof(CSSs)=='undefined')
			link(rel='stylesheet', href='/stylesheets/style.css')
		else
			each thisCSS in CSSs
				link(rel='stylesheet', href='#{thisCSS}')
		if(typeof(JSs)!='undefined')
			each thisJS in JSs
				script(type='text/javascript', src='#{thisJS}')
	body
		div
			p(align='right')
				if (typeof(userName) !== 'undefined')
					| <a href="/dnd/notes">[DnD]</a>
					| <a href="/game/myGames">[My Games]</a> Welcome #{userName}
				else
					| Welcome Guest
					| <br> <a href="/login">Log-in</a>
		block content